<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <style>

    .cellchart{
    	  background-image: linear-gradient(to right, #60dbbc 0%, #60dbbc 100%);
		  background-position: bottom left;
		  background-repeat: no-repeat;
    }
    .cellpercent {

    	  float: left;
    	  width:30px;
    	  font-size: 10px;
    	  position: relative;
    	  bottom: -18px;
    	  left: -5px;
    	  color: #999999;
    }
   	.best{
   		position: relative;
    	  bottom: 18px;
    	  font-size: 12px;
    	  color: #FFBB11;

   	}

  /* don't remove */
	
	.cellcontend{
		float: left;
	}
	.bestDiv{

	}

    </style>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
     $(document).ready(function(){

			 	//$('td[style*="background-size: 3% 100.0%"]').prepend('<span class="icon best"><i class="fas fa-trophy"></i></span>');
			 	$('div[class*="cellpercent"]:contains("100%")').parent().css("background-size", "0% 0%");
			 	$('div[class*="cellpercent"]:contains("100%")').replaceWith('<div class="cellpercent bestDiv"></div>');
			 	$('div[class*="cellpercent bestDiv"]').prepend('<span class="icon best"><i class="fas fa-trophy"></i></span>');

	});

    function openTab(evt, tabName) {
			  var i, x, tablinks;
			  x = document.getElementsByClassName("content-tab");
			  for (i = 0; i < x.length; i++) {
			      x[i].style.display = "none";
			  }
			  tablinks = document.getElementsByClassName("tab");
			  for (i = 0; i < x.length; i++) {
			      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
			  }
			  document.getElementById(tabName).style.display = "block";
			  evt.currentTarget.className += " is-active";}

			
    		
			

			</script>
  	</head>
    <body>
    <section class="hero is-primary">
	  <div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Weekly BFV Stats
	      </h1>
	      <h2 class="subtitle">
	        See your weekly Stats compared to other <strong>Players</strong>
	      </h2>
	    </div>
	  </div>
	</section>
    <section class="section">
    	<div class="container">
    	<div class="tabs is-boxed">
			  <ul>
			    <li class="tab is-active" onclick="openTab(event,'CoreStats')" >
			      <a>
			        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
			        <span>Core Stats</span>
			      </a>
			    </li>
			    <li class="tab" onclick="openTab(event,'DetailedStats')" >
			      <a>
			        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
			        <span>Detailed Stats</span>
			      </a>
			    </li>
			     <li class="tab" onclick="openTab(event,'PerformanceStats')" >
			      <a>
			        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
			        <span>Performace / Skill</span>
			      </a>
			    </li>
			    <li class ="tab" onclick="openTab(event,'Firestorm')">
			      <a>
			        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
			        <span>FireStorm</span>
			      </a>
			    </li>
			  </ul>
		</div>
    		<h4 class="title is-4">Welcome to week {{DayDiffStats[0]['KW']|e}} </h4>
    		<h5 class="subtitle is-5">({{WeekStartEnd[0] ~ " / " ~ WeekStartEnd[1]}})</h5>


    	<div id="CoreStats" class="content-tab" >
	        <table class="table is-hoverable">
	       		<tr>
	        		<th><span class="icon">
  					<i class="fas fa-home"></i>
					</span>Day</th>
	        		{% for player in DayDiffStats %}
	        			
	        		<td >
		        		<strong>{{ player['lastUpdated'] }}</strong>
		        
	        		</td>

	        		{% endfor %}
	        	</tr>
	        	<tr>
	        		<th><span class="icon">
  					<i class="fas fa-home"></i>
					</span>Kills</th>
	        		{% for player in DayDiffStats %}
	        			
	        		<td >
		        		{{ player['Kills'] }}
		        	</td>

	        		{% endfor %}
	        	</tr>
	        	<tr>
	        		<th><span class="icon">
  					<i class="fas fa-home"></i>
					</span>Deaths</th>
	        		{% for player in DayDiffStats %}
	        			
	        		<td >
		        		{{ player['Deaths'] }}
		        	</td>

	        		{% endfor %}
	        	</tr>  
	        	<tr>
	        		<th><span class="icon">
  					<i class="fas fa-home"></i>
					</span>RoundsPlayed</th>
	        		{% for player in DayDiffStats %}
	        			
	        		<td >
		        		{{ player['RoundsPlayed'] }}
		        	</td>

	        		{% endfor %}
	        	</tr>  
	        	<tr>
	        		<th><span class="icon">
  					<i class="fas fa-home"></i>
					</span>Heals</th>
	        		{% for player in DayDiffStats %}
	        			
	        		<td >
		        		{{ player['Heals'] }}
		        	</td>

	        		{% endfor %}
	        	</tr>        	
	        	
	        
        	</table>
        </div>
        </div>
    </section>
    <footer class="footer">
	  <div class="content has-text-centered">
	    <p>
	      <strong>Battlefield V Weekly Stats</strong> by Marcus Loeper.
	    </p>
	  </div>
	</footer>
    </body>
</html>
